@charset "UTF-8";

/*背景画像の設定*/
body{
	background-image: url(./img/ぼかし.JPG);
	background-size: cover;
}

/*基本メインブロック*/
.main, .top-menu{
	width: 80%;
	margin: 20px auto 50px;
	background-color:white;
	text-align: center;
}

