@charset "UTF-8";

/* 背景画像の設定 */
body{
	background-image: url(./img/ぼかし.JPG);
	background-size: cover;
}


/* 基本ブロック */
.main, .top-menu, .footer{
	width: 60%;
	margin: 20px auto 30px;
	background-color:white;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 20px;
}

/* トップページ ボタン(仮)*/
a.btn_01 {
	display: block;
	text-align: center;		
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #98fb98;
	background: #98fb98;
	color: black;
	transition: 0.5s;
}


/* トップページタイトル用 */
.header{
	margin: 20px auto 50px;
	width: 60%;
	text-align: center;
}

h1 {
    position: relative;
    padding: 1rem;
    border: solid #353535;
    border-width: 3px;
    background-color: #98fb98;
    color: #353535;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
 }


/* 新規登録ページ用 */
.

/* NEWSの詳細ページ用*/



/* FOOD+GOODSページ */


/* 参照サイトリンク用 */

