@charset "UTF-8";

/*フッター*/
.footer{
	background-color:black;
	height:110px;
	width: 50%;
	text-align: center;
	margin: 20px auto 50px;
}

.text{
	text-align: left;
	color:white;
	float:left;
	padding:0px 30px;
		
}