@charset "UTF-8";

body{
	font-family:"Avenir Next";
}

/*ﾍｯﾀﾞｰ*/
.header{
	background-color:#98fb98;
	color:#fff;
	height:90px;
}

.header-title{
	text-align:center;
	font-size:40px;
	padding:20px 40px;
}

/*ﾒｲﾝ*/
.main{
	padding-left: 20%;
	padding-right: 20%;
	
}

.caution{
		margin: 16px auto;
		text-align: center;
		display: block;
}

.caution .text{
	background-color:#98fb98;
	color: red;
	text-align: left;
	list-style:none;
	display: inline-block;
	
	padding:10px;
	border-radius: 10px;        /* 角丸指定 */
}

	/*ニュース*/
.news{
	margin:30px 100px;
	text-align: center;
	display:block;
	background-color:#d6ffea;
	padding: 10px;
	
	border: solid;
	border-color: #98fb98;
	
	
}

.news h1{
	color:white;
	 -webkit-text-stroke: 1px black;
}

.news h2{
	color:#98fb98;
}

	/*シートを探す*/
.sheetsearch {
	text-align:center;
	margin:30px;
}
.sheetsearch ul{
	margin-right:30%;
	margin-left:30%;
	list-style:none;
	background-color: #98fb98;
	border: solid;
	border-color:green;
}

.sheetsearch li{
	background-color:white;
	padding:50px;
	margin:30px;
	margin-right:20%;
	margin-left:20%;
	font-size:20px;
	border-radius: 10px;        /* 角丸指定 */
}
/*フッダー*/
.footer{
	background-color:#2f5167;
	color:#fff;
	height:120px;
	padding:40px;
}

.footer-logo{
	float:left;
	font-size:32px;
}

.footer-list{
	float:right;
}

.footer-list li{
	padding-bottom:20px;
	list-style:none;
}




















