@charset "UTF-8";



.open_sub_window {
    display: block;
    width: 15em;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: #98fb98;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.open_sub_window:hover {
    opacity: 0.8;
}

.check_sub_window {
    display: none;
}

.bg_sub_window {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.bg_sub_window:hover {
    transition: 0.5s;
}

.check_sub_window:checked + .bg_sub_window {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

.sub_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    max-height: 90%;
    background-color: #fff;
    overflow-y: auto;
}
@media screen and (max-width: 767px) {
    .sub_window {
        width: calc(100% - 20px);
    }        
}
@media print, (min-width: 768px) {
    .sub_window {
        width: 90%;
        max-width: 900px;
    }
}

.close_sub_window {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}
.close_sub_window::before,
.close_sub_window::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #98fb98;
    content: "";
}
.close_sub_window::before {
    width: 60%;
    height: 3px;
}
.close_sub_window::after {
    width: 3px;
    height: 60%;
}
.close_sub_window:hover {
    cursor: pointer;
}

.sub_window_content {
    display: table;
    margin: 0px auto;
}
.open_sub_window_02 {
    display: block;
    width: 15em;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: #98fb98;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.open_sub_window_02:hover {
    opacity: 0.8;
}

.check_sub_window_02 {
    display: none;
}

.bg_sub_window_02 {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.bg_sub_window_02:hover {
    transition: 0.5s;
}

.check_sub_window_02:checked + .bg_sub_window {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

.sub_window_02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    max-height: 90%;
    background-color: #fff;
    overflow-y: auto;
}
@media screen and (max-width: 767px) {
    .sub_window {
        width: calc(100% - 20px);
    }        
}
@media print, (min-width: 768px) {
    .sub_window {
        width: 90%;
        max-width: 900px;
    }
}

.close_sub_window_02 {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}
.close_sub_window_02::before,
.close_sub_window_02::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #98fb98;
    content: "";
}
.close_sub_window_02::before {
    width: 60%;
    height: 3px;
}
.close_sub_window_02::after {
    width: 3px;
    height: 60%;
}
.close_sub_window_02:hover {
    cursor: pointer;
}

.sub_window_content_02 {
    display: table;
    margin: 0px auto;
}